/*font-related stuff*/
.italic {
  font-style: italic; }

h1, h2, h3, h4 {
  font-family: "Alfa Slab One", cursive; }

/*Colors*/
/*Layout Elements*/
body {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 14px; }

.navbar {
  border-radius: 0; }
  .navbar.navbar-default {
    background-color: transparent;
    border: 0; }
  .navbar .navbar-brand {
    color: #fff;
    outline: 0;
    font-size: 12px;
    border-radius: 0;
    background-color: #83715C;
    padding: 7px 15px 9px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    .navbar .navbar-brand .add-item {
      display: inline-block;
      margin-left: 10px; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      background-color: #473d32;
      color: #fff; }
  .navbar .glyphicon.glyphicon-plus {
    color: #1C1F23;
    background-color: #fff;
    border-radius: 100%;
    padding: 10px; }

header {
  min-height: 100vh;
  background-image: url("../img/Books_for_Wanderers_Featured.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%); }
  header h1 {
    color: #fff;
    font-size: 56px;
    letter-spacing: 1px;
    position: absolute;
    width: 100%;
    padding: 0 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%); }
    header h1 span {
      display: block;
      text-transform: none;
      font-size: 28px;
      padding: 10px; }
      header h1 span small {
        color: #fff; }
    @media (max-width: 500px) {
      header h1 {
        font-size: 35px; } }

.media-container .media-item .media {
  padding: 10px;
  min-height: 480px;
  margin-bottom: 30px;
  border: 4px solid #fff; }
  .media-container .media-item .media img {
    max-width: 100px;
    -webkit-filter: grayscale(60%);
    filter: grayscale(60%);
    display: inline-block;
    margin: 0 auto;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 0;
    border-color: #fff; }
  .media-container .media-item .media .media-body {
    color: #fff; }
  .media-container .media-item .media .media-center {
    position: relative;
    padding: 40px 0; }
  .media-container .media-item .media .media-heading {
    font-size: 28px;
    letter-spacing: 1px; }
  .media-container .media-item .media h6 {
    font-size: 14px;
    line-height: 1.2;
    padding-bottom: 10px; }
  .media-container .media-item .media .label {
    font-size: 12px;
    border-radius: 0;
    display: inline-block;
    margin: 0 3px;
    background-color: #473d32;
    padding: 7px 15px 9px;
    text-transform: uppercase; }
    .media-container .media-item .media .label.label-info {
      background-color: #83715C; }
  .media-container .media-item .media .glyphicon {
    font-size: 20px;
    padding: 3px;
    color: #83715C; }
  .media-container .media-item .media .rating {
    padding: 15px 0; }

#modal-form {
  border-radius: 0;
  border: 0; }

/*helper classes*/
.dark-bg {
  background-color: #1C1F23;
  color: #fff; }

.pad-row {
  padding: 100px 0px; }

.pad-row-lr {
  padding: 100px 50px; }

/*# sourceMappingURL=style.css.map */
