$alfa: 'Alfa Slab One', cursive;
$robotoSlab: 'Roboto Slab', sans-serif;
$base-font-size: 14px;
$letter-spacing-default: 1px;
.italic {
	font-style: italic;
}

/*Colors*/
$dark: #1C1F23;
$white: #fff;
$beige: #83715C;

body {
	font-family: $robotoSlab;
	font-weight: 400;
	font-size: $base-font-size;
}

h1, h2, h3, h4{
	font-family: $alfa;
}

.navbar {
	border-radius: 0;
	&.navbar-default {
		background-color: transparent;
		border: 0;
	}
	.navbar-brand {
		color: $white;
	}
	.glyphicon.glyphicon-plus {
		color: $dark;
		background-color: $white;
		border-radius: 100%;
		padding: 10px;
	}
}

header {
	min-height: 100vh;
	background-image: url("../img/Books_for_Wanderers_Featured.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-filter: grayscale(60%);
	        filter: grayscale(60%);
	h1 {
		color: $white;
		font-size: ($base-font-size * 4);
		letter-spacing: $letter-spacing-default;
	    position: absolute;
	    width: 100%;
	    padding: 0 20px;
	    top: 50%;
	    -webkit-transform: translateY(-50%);
	            transform: translateY(-50%);
		span {
			display: block;
			text-transform: none;
			font-size: ($base-font-size * 1.5);
			font-family: $robotoSlab;
			font-style: italic;
		}
	}

}

.dark-bg {
	background-color: $dark;
	color: $white;
}

/* .img-circle {*/
/* 	max-width: 300px;*/
/* }*/

.pad-row {
	padding: 100px 0px;
}

.pad-row-lr {
	padding: 100px 50px;
}

.media-container {
	.media-item {
		.media {
			    padding: 10px;
			    min-height: 480px;
			    margin-bottom: 30px;
			    border: 4px solid #fff;
			img {
				max-width: 100px;
				-webkit-filter: grayscale(60%);
				        filter: grayscale(60%);
	            display: inline-block;
			    margin: 0 auto;
			    position: relative;
			    left: 50%;
			    -webkit-transform: translateX(-50%);
			            transform: translateX(-50%);
	            border-radius: 0;
	            border-color: $white;
			}
			.media-body {
				color: $white;
			}
			.media-center {
				position: relative;
			    padding: 40px 0;
			}
            .media-heading {
            	font-size: ($base-font-size * 2);
            	letter-spacing: $letter-spacing-default;
            }
            h6 {
        	    font-size: $base-font-size;
    			line-height: 1.2;
    			padding-bottom: 10px;
            }
            .label {
            	font-size: ($base-font-size - 2);
            	border-radius: 0;
            	display: inline-block;
            	margin: 0 3px;
            	background-color: $beige;
        	    padding: 7px 15px 9px;
        	    text-transform: uppercase;
            }
			.glyphicon {
				font-size: 20px;
    			padding: 3px;
    			color: $beige;
			}
			.rating {
				padding: 15px 0;
			}
		}
	}
}



